@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #185687;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 500;
}

/*slider*/
.swiper {
  width: 100%;
  height: calc(100vh - 171px);
}

.swiper-slide {
  font-size: 18px;
  background: #ffffff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.family {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../public/img/family.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.family2 {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../public/img/family2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* Logos animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-flex;
  animation: 35s slide infinite linear;
}

.image {
  height: 50px;
  margin: 0 35px;
}

.hands {
  object-fit: cover;
  background: url(../../public/img/engagiert.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: 381px;
  border-radius: 20px;
}

.people {
  object-fit: cover;
  background: url(../../public/img/innovativ.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: 381px;
  border-radius: 20px;
}

.man {
  object-fit: cover;
  background: url(../../public/img/kundennah.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: 381px;
  border-radius: 20px;
}
